/*  myStyles.css */

body {
  background-color: #4a5e6b;
}
.container {
  background-color: #859aa8;
  border-bottom: 50px solid #1a2b36;
  text-align: center;
}

h4 {
	background-color: #b9ccda;
	padding: 25px 0 25px 0;
	width: 100%;
}

.hr-1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.myApp-text {
  margin-top: 30px;
  padding-bottom: 20px;
}

.login-text {
  margin-top: 20px;
  padding-bottom: 50px;
}
